<%= form_with(model: attendance, local: true, remote: true) do |form| %>


  <%= form.hidden_field :username, value: current_employee.username %>
  <%= form.hidden_field :barcode, value: current_employee.barcode %>

    <%if @attendance.id.present? %>
      <div class="field">
        <%= form.label :out_at %>
        <%= form.datetime_select :out_at, id: :attendance_out_at %>
      </div>
    <%else%>
      <div class="field">
        <%= form.label :in_at %>
        <%= form.datetime_select :in_at, id: :attendance_in_at %>
        <%= form.hidden_field :out_at, value: nil %>
      </div>
    <%end%>

  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
