<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @attendance.username %>
</p>

<p>
  <strong>Barcode:</strong>
  <%= @attendance.barcode %>
</p>

<p>
  <strong>In at:</strong>
  <%= @attendance.in_at %>
</p>

<p>
  <strong>Out at:</strong>
  <%= @attendance.out_at %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
